@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-merriweather: "Merriweather", serif;
    --font-playfair: "Playfair Display", serif;
  }
  
  .font-merriweather {
    font-family: var(--font-merriweather);
  }
  
  .font-playfair {
    font-family: var(--font-playfair);
  }